body {
    font-family: "Roboto", sans-serif;
    padding:0;
    margin:0;
    background-color:#ECEFF1;
}
.nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;
    background-color:#607D8B;
    box-shadow: 0px 4px #455A64, 0px 2px 9px 0px rgba(0,0,0,0.3);

    transition: all .25s ease-in-out;
}
.btn {
    display: inline-block;
    float: left;
    position: relative;
    text-decoration: none;
    width: calc(100% / 10);
    text-align: center;
    line-height: 60px;
    color:white;
    background-color:#607D8B;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    transition: all .2s ease-in-out;
}
.btn::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 0px;
    background-color:white;
    transition: all .2s ease-in-out;
}
.btn:hover::after {
    height: 5px
}
.btn:hover {
    background-color: #64463c;
    box-shadow:  inset 0 1px 4px 0 rgba(0,0,0,0.37);
}
.btn span {
    position: relative;
    top:0;
    transition: all .2s ease-in-out;
}
.btn:hover span {
    top:5px;
}
.btnimg {
    width:206px;
    position: absolute;
    left:calc(50% - 103px);
}
.btnimg img {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    position: relative;
    top:-3px;
    transition: all .2s ease-in-out;
}
.btnimg:hover img {
    top:5px;
}

.posts-wrap {
    position: relative;
    top:130px;
}
.post {
    position: relative;
    width:600px;
    background-color:#f6f6f6;
    margin: auto;
    border-radius: 3px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
    margin-bottom: 3%;
}
.name {
    text-align: center;
    line-height: 90px;
    font-size: 20px;
    color:#666666;
}
.name-span {

}
.profile-pic {
    width:50px;
}
.profile-pic img {
    width:50px;
    height: 50px;
    position: relative;
    top:-3px;
    vertical-align: middle;
    border-radius: 50%;
}
.img-post {
    position: relative;
    padding-bottom: 0;
}
.context-img {
    width:100%;
}
.reaction-bar {
    width:100%;
    position: relative;
    background-color:#607D8B;

    margin-top: -4px;
}
.icon {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color:#78909C;
    cursor:pointer;
    width:100%;
    line-height: 60px;
    text-align: center;
    padding-bottom:20px;
}
.counter {
    width:100%;
    position: absolute;
    left:0;
    display: inline-block;
    text-align: center;
    font-size:15px;
    font-family: 'roboto';
    color:#78909C;
    bottom: 0;
}
.counter u {
    text-decoration: none;
    position: relative;
    top:7px;
}
.addedicon {
    color:white;
    transition: all .2s ease-in-out;
    animation: icon-animation .4s;
    -webkit-animation: icon-animation .4s;
}
.addedcounter {
    color:white;
    transition: all .2s ease-in-out;
}
@keyframes icon-animation {
    0% {
        transform: scale(1);

    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
-webkit-@keyframes icon-animation {
            0% {
                transform: scale(1);

            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
.comment-section {
    position: relative;
    padding-bottom: 20px;
}
.profile-pic-img {
    width:40px;
    height:40px;
    border-radius:50%;
    border: solid 3px #607D8B;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.37);
    position: relative;
    left:75px;
    vertical-align: middle;
    margin-top:20px;
}
.comment-input {
    resize: none;
    width:300px;
    display: inline-block;
    height: 30px;
    border:none;
    padding-top:5px;
    padding-bottom: -2px;
    position: relative;
    border: solid 2px #455A64;
    border-radius: 3px;
    top:23px;
    margin:auto;
    left:100px;
    position: relative;
    font-family: 'roboto';
    font-size:18px;
    color:#3c3c3c;
    padding-left: 3px;
}
.post-comment {
    position: relative;
    display: inline-block;
    top:13px;
    left:100px;
    border: none;
    font-family: 'Montserrat';
    line-height: 37px;
    width:100px;
    color:#f7f7f7;
    border-radius: 5px;
    cursor:pointer;
    background-color:#455A64;
    transition: all .15s ease-in-out;
}
.post-comment:hover {
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.55);
}

#snackbaron {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    background-color: #4CAF50;
}

#snackbaron.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbaroff {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    background-color: #F44336;
}

#snackbaroff.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.user-post-comment{
    resize: none;
    width:300px;
    display: inline-block;
    height: auto;
    border:none;
    padding-top:5px;
    padding-bottom: -2px;
    position: relative;
    border: solid 2px #455A64;
    border-radius: 3px;
    top:23px;
    margin:auto;
    left:100px;
    position: relative;
    font-family: 'roboto';
    font-size:18px;
    color: gray;
    padding-left: 3px;
    background-color: white;
}
.user-post-info{
    font-size: 12px;
    color: #B0BEC5;
}
